body  {background-color: black;}
h1,a {color: white;
    font-style: normal;
    font-weight: normal;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    }
h3 {color: white;
    font-family: Sans-serif;
    font-weight: normal;
    font-style: normal; 
    }
.cabecalho { display: flex;
              flex-direction: row;
              justify-content: flex-end;
              justify-content: space-around;
              align-items:center;
              gap: 100px;
}

.cabecalho-txt { display: flex;

    color: white;
    font-size: 42px;
    font-family:Fantasy;
    padding: 0px;
    flex-direction: row;
    justify-content: left;
    justify-items: top;
    gap: 80px;
     
}

.cabecalho-menu{ 
                display: flex;
                font-weight:900;
                color: white;
                font-size: 36px;
                font-family: 'Times New Roman', Times, serif;
                font-style: italic;
                flex-direction: row;
                justify-content:right ;
                align-items:flex-start;
                gap: 80px;
              
}
.cabecalho-menu:hover {font-size: 40px;}


.cabecalho-center { 
                    padding-top: 10px;
                    padding-left: 10px;
                    text-align: start;
                                      
}

.contato {
      justify-content: space-around;
      color: white;
      font-size: 36px;
      gap: 90px;
      display: flex;
      justify-content: center;}

.contato:hover,.contato_img:hover {font-size: 39px;}      
.contato_img {
    display: flex;
    flex-direction: row;
}
